@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Salsa&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}

li,a, button{
    font-family: 'Playfair', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0;
}

.logo {
    cursor: pointer;
width: 100px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    font-family: 'Salsa', cursive;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(209, 192, 114); 
}

button {
    padding: 9px 25px;
    background-color: rgb(209, 192, 114);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* END OF HEADER */

/* RAYAN SECTIONS */
#rayan {
    background-image: url(./img/pagprf.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 100vh; /* Añadido para ocupar toda la pantalla verticalmente */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#rayan::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(32, 59, 58);
    opacity: .7;
    z-index: -1;
    
}

#rayan h1 {
display: block;
width: fit-content;
font-size: 4rem;
position: relative;
color: transparent;
animation: text_reveal .5s ease forwards;
animation-delay: 1.5s;
margin-right: 1000px;
}

#rayan h1:nth-child(1){
animation-delay: 1s;
}
#rayan h1:nth-child(2){
    animation-delay: 2s;
    }
 #rayan h1:nth-child(3){
     animation-delay: 3s;
 }

 #rayan h1:nth-child(1) span {
 animation-delay: .5s;

}
#rayan h1:nth-child(2) span {
    animation-delay: 1.5s;
    
   }
   #rayan h1:nth-child(3) span {
    animation-delay: 2.5s;

   }

#rayan h1 span {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(219, 185, 146);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
    
}

#rayan p {
    font-size: 1.5rem;
    color: #fff;
    animation: text_reveal_box 1s ease;
    animation-delay: .7s;
}


#rayan .cta {
width: 200px;
height: 100px;
box-shadow: 16px 14px 20px #0000008c;
border-radius: 10px;
position: relative;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

#rayan .cta::before {
    content: "";
    background-image: conic-gradient(
        #ccae6c 0deg 180deg, 
        transparent 180deg 360deg
    );
    width: 150%;
    height: 50%;
    position: absolute;
    animation: rotate 2s linear infinite;
}


#rayan .cta::after{
content: "Curriculum";
width: 190px;
height: 85px;
background: black;
position: absolute;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
color: #ccae6c;
font-size: larger;
letter-spacing: 5px;
box-shadow: inset 20px 20px 20px #0000008c;
background-color: rgb(34, 33, 33);
}

#rayan .cta:hover {
color: rgb(255, 255, 255);
background-color: rgb(34, 33, 33);
}

/* services SECTIONS */

#services {
    width: 90%;
    margin: auto;
}

.section-heading {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.services-cards{
display: flex;
justify-content: space-between;
margin-top: 30px;

}

.services-card {
width: 350px;
border: 1px solid #ddd;
padding: 20px;
margin: 20px;
text-align: center;
cursor: pointer;
}

.services-card i{
font-size: 38px;
margin-bottom: 20px;
color: #ccae6c;
}

.services-card h2{
font-size: 24px;
margin-bottom: 10px;
}

.services-card p{
font-size: 15px;
color: #666;
line-height: 1.5;

}
	
footer {
    margin-top: 150px;
    position:absolute;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer .social_icons,footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    
}

footer .social_icons li,footer .menu li {
    list-style: none;
}

footer .social_icons li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icons li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-family: 'Salsa' , cursive;
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./img/wave.png);
    background-size: 1000px 100px;
    
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_3 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_4 3s linear infinite;
}

/*ANIMACIONES*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: rgb(255, 255, 255);
    }
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animateWave_3 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_4 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


    




